[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pillow = "*"

[packages]
keras = "*"
plaidml = "*"
click = "*"

[requires]
python_version = "3.7"
