[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pillow = "*"
pyinstaller = "*"

[packages]
scipy="*"
click = "*"
protobuf = "*"
plaidml-keras = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
